.menu-item-admin {
    text-transform: uppercase;
    display: inline-block;
}

.menu-item-admin a {
    padding: 0px 18px;
    display: inline-block;
    line-height: var(--height-header-content);
    text-decoration: none;
    color: var(--black);
    position: relative;
    font-weight: 600;
}

.menu-item-admin a:before {
    content: "";
    position: absolute;
    background-color: var(--black);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    display: none;
}

.menu-item-admin a:hover {
    color: var(--black) !important;
}

.menu-item-admin a:hover:before {
    display: block;
}

/* Thêm xe */
.addProduct {
    margin: 12px 0;
}
.add-infor-product {
    max-width: 800px;
    margin: 0px auto;
}

.add-infor-product input {
    padding: 4px;
}

.add-infor-product select {
    padding: 4px;
    margin: 4px 8px;
    width: 60%;
}

.add-infor-product label {
    margin: 4px 0;
}

.add-infor-product #newProduct {
    height: 18px;
    width: 18px;
    margin: 4px 8px;
}

.add-infor-product .line-3 div,
.add-infor-product .line-2 div {
    flex: 0 0 50%;
    max-width: 50%;
}

.add-infor-product .line-2 input {
    width: 99%;
}

.add-infor-product textarea {
    padding: 4px;
}

.add-price-table-group .submit-btn,
.add-infor-product .submit-btn {
    padding: 4px 24px;
    margin: 12px;
    background-color: var(--main-color);
    color: var(--white);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    transition: all .2s linear;
}

.add-infor-product .submit-btn:hover {
    background-color: #C5CAE9;
    color: var(--black);
}

.button-group {
    margin: 16px 0;
}

.button-group .visit-add-product-page,
.button-group .delete-all-product {
    min-width: 240px;
    margin: 0 8px;
}

.product-empty {
    padding: 12px 0 0;
}

.header-admin {
    padding: 12px 2px 0;
    margin: 2px 0;
}

.header-admin div {
    display: inline-block;
    padding: 2px 14px;
    border-radius: 34px;
    background-color: var(--white);
    transition: all 0.15s ease-in;
    border: 1px solid var(--main-color);
    margin: 6px 4px;
    color: var(--black);
}

.header-admin div:hover {
    background-color: var(--main-color);
}

.header-admin div a {
    text-decoration: none;
    line-height: 100%;
    padding: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--black);
    transition: all 0.15s ease-in;
}

.header-admin div a:hover {
    color: var(--white);
}

.heading-table::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    left: 0;
    bottom: 0;
    right: 0;
}

/* Thong tin KH */
.customer-table {
    max-width: 98%;
    margin: 0 auto;
}

.customer-table th {
    width: 25%;
}

.customer-table td {
    border: none;
}

.customer-table tr {
    border-bottom-width: 1px;
}

.customer-table td {
    flex: 0 0 20%;
    overflow: hidden;
    max-width: 20%;
}

.list-customer div {
    flex: 0 0 25%;
    max-width: 25%;
}

.copy-icon {
    margin: 0px 12px;
}
@media (max-width: 768px) {
    .add-infor-product {
        max-width: 100%;
        width: 100%;
        padding: 0px 12px;
        margin: 0px auto;
    }
    .customer-table th {
        width: 33.33333%;
    }
    .consulted-box {
        display: none;
    }
}

@media (max-width: 700px) {
    .date-register {
        display: none;
    }
}

@media (max-width: 767px) {
    .list-customer div {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media (max-width: 600px) {
    .add-infor-product .line-2 div {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .button-group .visit-add-product-page,
    .button-group .delete-all-product {
        min-width: 160px;
        margin: 0 8px;
}
}

@media (max-width: 576px) {
    .add-infor-product .line-3 div {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .payment {
        display: none;
    }
    .customer-table th {
        width: 50%;
    }
    .customer-table td {
        flex: 0 0 50%;
        max-width: 50%;
    }
}