.product-container {
    margin: 0 0 16px;
}

.product-container .product {
    padding: 0px 6px;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 12px 0;
    overflow: hidden;
}

.product-container .product-link {
    height: 140px;
}

.product:hover .product-img {
    transform: scale(1.1);
}

.product .product-img {
    max-width: 100%;
    height: auto;
    max-height: 140px;
    transition: all .2s linear;
    cursor: pointer;
    border-radius: 5px;
}

.product .price-box .price {
    font-weight: 600;
    font-size: 18px;
}

.product .name a {
    text-decoration: none;
    color: var(--black);
    font-size: 17px;
    line-height: 1px;
    font-weight: 500;
}

@media (max-width: 768px) {
    
}

/* small tablet */
@media (max-width: 600px) {
    .product-container .product {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .other-products .product {
        margin: 8px 0;
    }
}